<div class="bg" id="particle-canvas"></div>
<div class="layout">
  <div class="container mt-4">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <app-foo-card title="Título">
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Select">
              <app-content-one></app-content-one>
            </mat-tab>
            <mat-tab label="NG-Select VS Select">
              <app-content-two></app-content-two>
            </mat-tab>
          </mat-tab-group>
        </app-foo-card>
      </div>
    </div>
  </div>
</div>
